{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<h4>Unidades CODE8734</h4>
<div class="list-group w-100 py-3">
	{{#unity}}
	<div class="container list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<div class="mr-auto d-flex justify-content-around">
				<h5 class="mr-2">{{name}}</h5>
				<small>{{city}} - {{state}}</small>					
			</div>
			<div class="d-flex">
				<a href="{{unityviewurl}}?id={{id}}" class="mx-2"
				data-toggle="tooltip" data-placement="top" title="{{tooltiponboarding}}">
					<i class="fa fa-rocket"></i>
			 	</a>
				<a href="{{unityviewurl}}?id={{id}}" class="mx-2"
				data-toggle="tooltip" data-placement="top" title="{{tooltipview}}">
				   	<i class="fa fa-eye"></i>
				</a>
				<a href="{{unityediturl}}?id={{id}}" class="mx-2"
				data-toggle="tooltip" data-placement="top" title="{{tooltipedit}}">
				   	<i class="fa fa-pencil"></i>
				</a>
				<a href="{{unityviewurl}}?id={{id}}" class="mx-2"
				data-toggle="tooltip" data-placement="top" title="{{tooltiponboarding}}">
					<i class="fa fa-trash"></i>
			 	</a>
			</div>
		</div>
	</div>
	{{/unity}}
</div>
