{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="container d-flex flex-column align-content-end" style="min-height:300px">
	 <h1>CODE8734 {{unity.city}} - {{unity.state}}</h1>
	 <h3 class="mb-3">{{unity.name}}</h3>
	<p><strong>Nome da unidade:</strong>   {{unity.name}}</p>
	<p><strong>Endereço:</strong>        {{unity.address}}</p>
	<p><strong>E-mail da unidade:</strong>  {{unity.unity_email}}</p>
	<p><strong>Modalidade:</strong>        {{unity.size}}</p>
	<p><strong>Data de criação:</strong> {{unity.create_timestamp}}</p>
	<div class="container row mt-auto">
		<a href="{{unityediturl}}" class="btn btn-primary mr-2">Editar</a>
		<a href="{{dashboardurl}}" class="btn btn-secondary ml-2">Dashboard</a>
	</div>
</div>